In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("../data/MPS/MPS_MonthlyCrimeDashboard_OtherCrimeDatafy23-24_07.csv")

In [10]:
 df["Month_Year"] = pd.to_datetime(df["Month_Year"])

In [11]:
df.head()

,Month_Year,Area Type,Borough_SNT,Area Name,Area Code,Crime Type,Crime Subtype,Measure,Financial Year,FY_FYIndex,Count
0,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Domestic Abuse,Domestic Abuse,Offences,fy23-24,fy23-24_07,3
1,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Domestic Abuse,Domestic Abuse,Outcomes,fy23-24,fy23-24_07,1
2,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Domestic Abuse,Domestic Abuse Incidents,Statistics,fy23-24,fy23-24_07,6
3,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Domestic Abuse,Domestic Abuse Violence with Injury,Offences,fy23-24,fy23-24_07,1
4,2023-04-01,Borough,Aviation Security(SO18),Aviation Security(SO18),SO18,Hate crime,Faith Crime,Outcomes,fy23-24,fy23-24_07,1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43447 entries, 0 to 43446
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Month_Year      43447 non-null  datetime64[ns]
 1   Area Type       43447 non-null  object
 2   Borough_SNT     43447 non-null  object
 3   Area Name       43447 non-null  object
 4   Area Code       43447 non-null  object
 5   Crime Type      43447 non-null  object
 6   Crime Subtype   43447 non-null  object
 7   Measure         43447 non-null  object
 8   Financial Year  43447 non-null  object
 9   FY_FYIndex      43447 non-null  object
 10  Count           43447 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 3.6+ MB

In [4]:
df["Area Type"].unique()

array(['Borough', 'Safer Neighbourhood Teams'], dtype=object)

In [15]:
df.groupby("Measure").agg({"Count":"mean"})

                Count
Measure
Offences    26.456794
Outcomes     4.939120
Statistics  35.458165

In [16]:
df.groupby(["Crime Subtype", "Measure"]).agg({"Count":"mean"})

                                                                 Count
Crime Subtype                                   Measure
Anti-Semitic                                    Offences      2.265403
                                                Outcomes      1.764706
Disability Crime                                Offences      1.447552
                                                Outcomes      1.500000
Dog Attack                                      Offences      2.389892
                                                Outcomes      1.174603
Domestic Abuse                                  Offences     23.120760
                                                Outcomes      3.736357
Domestic Abuse Incidents                        Statistics   35.458165
Domestic Abuse Violence with Injury             Offences      6.504966
                                                Outcomes      2.101266
Faith Crime                                     Offences      2.401254
                                                Outcomes      1.500000
Gun Crime                                       Offences      1.911824
                                                Outcomes      1.408000
Hate Crime                                      Offences      7.283439
                                                Outcomes      3.057692
Homophobic Crime                                Offences      3.046538
                                                Outcomes      2.000000
Islamophobic Crime                              Offences      1.872123
                                                Outcomes      1.375000
Knife Injury Victims (1-24)                     Offences      1.995902
Knife Injury Victims (non DA 1-24 Gang Flagged) Offences      1.000000
Knife Injury Victims (non DA 1-24)              Offences      1.956897
Knife crime                                     Offences      4.837494
                                                Outcomes      2.154762
Knife crime with injury                         Offences      2.633540
                                                Outcomes      1.752896
Knife crime with injury (Personal robbery)      Offences      1.590000
                                                Outcomes      1.212121
Lethal Barrel Discharge                         Offences      1.250000
                                                Outcomes      1.550000
Personal Robbery                                Offences      1.474576
                                                Outcomes      1.400000
Racist Crime                                    Offences      6.262626
                                                Outcomes      2.986607
Racist and Religious Crime                      Offences      6.438538
                                                Outcomes      2.993377
Robbery mobile phone                            Offences      5.392787
                                                Outcomes      1.696629
TNO Non Victim Based                            Offences     14.063933
                                                Outcomes      6.158182
TNO Victim Based                                Offences    191.330885
                                                Outcomes      8.377478
Theft Person - Mobile phone                     Offences     16.809394
                                                Outcomes      1.818182
Transgender Crime                               Offences      1.569106
                                                Outcomes      1.846154

In [24]:
df.groupby(["Borough_SNT", "Crime Subtype", "Measure"]).agg({"Count":"mean"}).sort_values("Count", ascending=False)

                                                                        Count
Borough_SNT             Crime Subtype                       Measure
Westminster             TNO Victim Based                    Offences  7008.50
Camden                  TNO Victim Based                    Offences  3289.00
Southwark               TNO Victim Based                    Offences  3072.75
Newham                  TNO Victim Based                    Offences  2945.25
Lambeth                 TNO Victim Based                    Offences  2914.25
...                                                                       ...
Harrow Harrow Weald     Knife crime                         Outcomes     1.00
Lewisham Telegraph Hill Gun Crime                           Offences     1.00
                        Domestic Abuse Violence with Injury Outcomes     1.00
Croydon Selhurst        Knife Injury Victims (non DA 1-24)  Offences     1.00
Merton Lower Morden     Knife crime                         Offences     1.00

[16179 rows x 1 columns]

In [28]:
df[df["Crime Subtype"] == 'Knife Injury Victims (1-24)'].groupby(["Borough_SNT", "Crime Subtype", "Measure"]).agg({"Count":"mean"}).sort_values("Count", ascending=False)

                                                              Count
Borough_SNT             Crime Subtype               Measure
Southwark               Knife Injury Victims (1-24) Offences   8.25
Westminster             Knife Injury Victims (1-24) Offences   7.00
Lambeth                 Knife Injury Victims (1-24) Offences   6.50
Waltham Forest          Knife Injury Victims (1-24) Offences   6.00
Camden                  Knife Injury Victims (1-24) Offences   5.75
...                                                             ...
Hounslow Heston Central Knife Injury Victims (1-24) Offences   1.00
Hounslow Heston West    Knife Injury Victims (1-24) Offences   1.00
Hounslow Hounslow Heath Knife Injury Victims (1-24) Offences   1.00
Hounslow Hounslow South Knife Injury Victims (1-24) Offences   1.00
Hillingdon Yeading      Knife Injury Victims (1-24) Offences   1.00

[316 rows x 1 columns]